<!-- <div class="hero-area">    
    <div class="floated">
        <div class="search-form">
            <h2>Looking for a used or new car?</h2>
            <div class="search-form-inner">
                <form class="">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group col-md-3">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                            </div>
                            <div class="form-group col-md-3">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                            </div>
                            <div class="form-group col-md-3">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                            </div>
                            <div class="form-group col-md-3">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                            </div>
                            <div class="form-group hidden-xs hidden-sm col-md-3">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                            </div>
                            <div class="form-group hidden-xs hidden-sm col-md-2">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                            </div>
                            <div class="form-group hidden-xs hidden-sm col-md-2">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email1">
                            </div>
                            <div class="form-group hidden-xs hidden-sm col-md-2">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email2">
                            </div>
                            <div class="form-group col-md-3">
                                <label for="exampleInputEmail1"></label>
                                <input style="margin-top: -7px;" type="submit" class="btn btn-block btn-info btn-lg" value="Find my vehicle now">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="hero-slider heroflex flexslider clearfix" data-autoplay="no" data-pagination="no" data-arrows="no" data-style="fade" data-speed="7000" data-pause="yes">
        <ul class="slides">
            <li class="parallax flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; display: list-item; background-image: url('http://html.imithemes.com/autostars/images/slide2.jpg');"></li>
        </ul>

    </div>

</div> -->



<div class="search-form">
    <div class="search-form-inner">
        <form class="container" method="get" action="http://preview.imithemes.com/autostars-wp/new-listing-page/">
            
            <!-- <h3>Find a Car with our Quick Search</h3> -->
            <div class="row">                
                <div class="col-md-3">
                    <label>Location</label>
                    <select data-empty="true" name="int_location" class="form-control selectpicker" style="display: none;">
                        <option disabled="" value="" selected="">Any</option>
                        <option value="New York">New York</option>
                        <option value="Queensland">Queensland</option>
                        <option value="California">California</option>
                        <option value="South Wales">South Wales</option>
                        <option value="Tasmania">Tasmania</option>
                    </select>
                    <div class="btn-group bootstrap-select form-control">
                        <button type="button" class="btn dropdown-toggle selectpicker btn-default" data-toggle="dropdown" title="Any"><span class="filter-option pull-left">Any</span>&nbsp;<span class="caret"></span></button>
                        <div class="dropdown-menu open" style="visibility: hidden;">
                            <ul class="dropdown-menu inner selectpicker" role="menu" style="visibility: hidden;">
                                <li rel="0" class="disabled selected"><a tabindex="-1" class="" style="" href="#"><span class="text">Any</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li>
                                <li rel="1"><a tabindex="0" class="" style=""><span class="text">New York</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li>
                                <li rel="2"><a tabindex="0" class="" style=""><span class="text">Queensland</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li>
                                <li rel="3"><a tabindex="0" class="" style=""><span class="text">California</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li>
                                <li rel="4"><a tabindex="0" class="" style=""><span class="text">South Wales</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li>
                                <li rel="5"><a tabindex="0" class="" style=""><span class="text">Tasmania</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <label>Condition</label>
                    <select data-empty="true" name="int_condition" class="form-control selectpicker" style="display: none;">
                        <option disabled="" value="" selected="">Any</option>
                        <option value="Brand New">Brand New</option>
                        <option value="Used">Used</option>
                        <option value="Slightly Used">Slightly Used</option>
                        <option value="Old">Old</option>
                    </select>
                    <div class="btn-group bootstrap-select form-control">
                        <button type="button" class="btn dropdown-toggle selectpicker btn-default" data-toggle="dropdown" title="Any"><span class="filter-option pull-left">Any</span>&nbsp;<span class="caret"></span></button>
                        <div class="dropdown-menu open" style="visibility: hidden;">
                            <ul class="dropdown-menu inner selectpicker" role="menu" style="visibility: hidden;">
                                <li rel="0" class="disabled selected"><a tabindex="-1" class="" style="" href="#"><span class="text">Any</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li>
                                <li rel="1"><a tabindex="0" class="" style=""><span class="text">Brand New</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li>
                                <li rel="2"><a tabindex="0" class="" style=""><span class="text">Used</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li>
                                <li rel="3"><a tabindex="0" class="" style=""><span class="text">Slightly Used</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li>
                                <li rel="4"><a tabindex="0" class="" style=""><span class="text">Old</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <label>Price</label>
                    <select data-empty="true" name="int_price" class="form-control selectpicker" style="display: none;">
                        <option disabled="" value="" selected="">Any</option>
                        <option value="10000">10000</option>
                        <option value="20000">20000</option>
                        <option value="30000">30000</option>
                        <option value="40000">40000</option>
                        <option value="50000">50000</option>
                        <option value="60000">60000</option>
                        <option value="70000">70000</option>
                        <option value="80000">80000</option>
                        <option value="90000">90000</option>
                        <option value="100000">100000</option>
                    </select>
                    <div class="btn-group bootstrap-select form-control">
                        <button type="button" class="btn dropdown-toggle selectpicker btn-default" data-toggle="dropdown" title="Any"><span class="filter-option pull-left">Any</span>&nbsp;<span class="caret"></span></button>
                        <div class="dropdown-menu open" style="visibility: hidden;">
                            <ul class="dropdown-menu inner selectpicker" role="menu" style="visibility: hidden;">
                                <li rel="0" class="disabled selected"><a tabindex="-1" class="" style="" href="#"><span class="text">Any</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li>
                                <li rel="1"><a tabindex="0" class="" style=""><span class="text">10000</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li>
                                <li rel="2"><a tabindex="0" class="" style=""><span class="text">20000</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li>
                                <li rel="3"><a tabindex="0" class="" style=""><span class="text">30000</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li>
                                <li rel="4"><a tabindex="0" class="" style=""><span class="text">40000</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li>
                                <li rel="5"><a tabindex="0" class="" style=""><span class="text">50000</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li>
                                <li rel="6"><a tabindex="0" class="" style=""><span class="text">60000</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li>
                                <li rel="7"><a tabindex="0" class="" style=""><span class="text">70000</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li>
                                <li rel="8"><a tabindex="0" class="" style=""><span class="text">80000</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li>
                                <li rel="9"><a tabindex="0" class="" style=""><span class="text">90000</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li>
                                <li rel="10"><a tabindex="0" class="" style=""><span class="text">100000</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <label>Make</label>
                    <select data-empty="true" name="int_make-2" class="form-control selectpicker" style="display: none;">
                        <option disabled="" value="" selected="">Any</option>
                        <option value="Audi">Audi</option>
                        <option value="BMW">BMW</option>
                        <option value="Hyundai">Hyundai</option>
                        <option value="Mazda">Mazda</option>
                        <option value="Mercedes">Mercedes</option>
                        <option value="Toyota">Toyota</option>
                        <option value="Nissan">Nissan</option>
                    </select>
                    <div class="btn-group bootstrap-select form-control">
                        <button type="button" class="btn dropdown-toggle selectpicker btn-default" data-toggle="dropdown" title="Any"><span class="filter-option pull-left">Any</span>&nbsp;<span class="caret"></span></button>
                        <div class="dropdown-menu open" style="visibility: hidden;">
                            <ul class="dropdown-menu inner selectpicker" role="menu" style="visibility: hidden;">
                                <li rel="0" class="disabled selected"><a tabindex="-1" class="" style="" href="#"><span class="text">Any</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li>
                                <li rel="1"><a tabindex="0" class="" style=""><span class="text">Audi</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li>
                                <li rel="2"><a tabindex="0" class="" style=""><span class="text">BMW</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li>
                                <li rel="3"><a tabindex="0" class="" style=""><span class="text">Hyundai</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li>
                                <li rel="4"><a tabindex="0" class="" style=""><span class="text">Mazda</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li>
                                <li rel="5"><a tabindex="0" class="" style=""><span class="text">Mercedes</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li>
                                <li rel="6"><a tabindex="0" class="" style=""><span class="text">Toyota</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li>
                                <li rel="7"><a tabindex="0" class="" style=""><span class="text">Nissan</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>                

            </div>
            <div class="row">
                <div class="col-md-6">
                </div>
                <div class="col-md-6">
                    <input type="submit" class="btn btn-block btn-info btn-lg" value="Find my vehicle now">
                </div>
            </div>
        </form>
    </div>
</div>
