<!-- Start Body Content -->
@{view('/partials/slider')}
<div id="content" class="content full padding-b0">
    <div class="container">
        <section class="listing-block recent-vehicles">
            <div class="listing-header">
                <h3>Recently Listed Vehicles</h3>
            </div>
            <div class="listing-container">
                <div class="carousel-wrapper">
                    <div class="row">
                        <ul class="owl-carousel carousel-fw" id="vehicle-slider" data-columns="4" data-autoplay="" data-pagination="yes" data-arrows="no" data-single-item="no" data-items-desktop="4" data-items-desktop-small="3" data-items-tablet="2" data-items-mobile="1">
                            <li class="item">
                                <div class="vehicle-block format-standard">
                                    <a href="vehicle-details.html" class="media-box"><img src="http://placehold.it/600x400;text=IMAGE+PLACEHOLDER" alt=""></a>
                                    <div class="vehicle-block-content">
                                        <span class="label label-default vehicle-age">2014</span>
                                        <span class="label label-success premium-listing">Premium Listing</span>
                                        <h5 class="vehicle-title"><a href="vehicle-details.html">Mercedes-benz SL
                                            300</a></h5>
                                        <span class="vehicle-meta">Mercedes, Grey color, by <abbr class="user-type"
                                                                                                  title="Listed by an individual user">Individual</abbr></span>
                                        <a href="results-list.html" title="View all Sedans" class="vehicle-body-type"><img src="img/body-types/sedan.png" width="30" alt=""></a>
                                        <span class="vehicle-cost">$48500</span>
                                    </div>
                                </div>
                                <div class="vehicle-block format-standard">
                                    <a href="vehicle-details.html" class="media-box"><img src="http://placehold.it/600x400;text=IMAGE+PLACEHOLDER" alt=""></a>
                                    <div class="vehicle-block-content">
                                        <span class="label label-default vehicle-age">2014</span>
                                        <span class="label label-success premium-listing">Premium Listing</span>
                                        <h5 class="vehicle-title"><a href="vehicle-details.html">Mercedes-benz SL
                                            300</a></h5>
                                        <span class="vehicle-meta">Mercedes, Grey color, by <abbr class="user-type"
                                                                                                  title="Listed by an individual user">Individual</abbr></span>
                                        <a href="results-list.html" title="View all Sedans" class="vehicle-body-type"><img src="img/body-types/sedan.png" width="30" alt=""></a>
                                        <span class="vehicle-cost">$48500</span>
                                    </div>
                                </div>
                            </li>
                            <li class="item">
                                <div class="vehicle-block format-standard">
                                    <a href="vehicle-details.html" class="media-box"><img src="http://placehold.it/600x400;text=IMAGE+PLACEHOLDER" alt=""></a>
                                    <div class="vehicle-block-content">
                                        <span class="label label-default vehicle-age">2014</span>
                                        <span class="label label-success premium-listing">Premium Listing</span>
                                        <h5 class="vehicle-title"><a href="vehicle-details.html">Mercedes-benz SL
                                            300</a></h5>
                                        <span class="vehicle-meta">Mercedes, Grey color, by <abbr class="user-type"
                                                                                                  title="Listed by an individual user">Individual</abbr></span>
                                        <a href="results-list.html" title="View all Sedans" class="vehicle-body-type"><img src="img/body-types/sedan.png" width="30" alt=""></a>
                                        <span class="vehicle-cost">$48500</span>
                                    </div>
                                </div>
                                <div class="vehicle-block format-standard">
                                    <a href="vehicle-details.html" class="media-box"><img src="http://placehold.it/600x400&amp;text=IMAGE+PLACEHOLDER" alt=""></a>
                                    <div class="vehicle-block-content">
                                        <span class="label label-primary vehicle-age">Brand New</span>
                                        <h5 class="vehicle-title"><a href="vehicle-details.html">Nissan Terrano first
                                            hand</a></h5>
                                        <span class="vehicle-meta">Nissan, Brown beige, by <abbr class="user-type"
                                                                                                 title="Listed by an dealer">Dealer</abbr></span>
                                        <a href="results-list.html" title="View all SUVs" class="vehicle-body-type"><img src="img/body-types/suv.png" width="30" alt=""></a>
                                        <span class="vehicle-cost">$28000</span>
                                    </div>
                                </div>
                            </li>
                            <li class="item">
                                <div class="vehicle-block format-standard">
                                    <a href="vehicle-details.html" class="media-box"><img src="http://placehold.it/600x400;text=IMAGE+PLACEHOLDER" alt=""></a>
                                    <div class="vehicle-block-content">
                                        <span class="label label-default vehicle-age">2014</span>
                                        <span class="label label-success premium-listing">Premium Listing</span>
                                        <h5 class="vehicle-title"><a href="vehicle-details.html">Mercedes-benz SL
                                            300</a></h5>
                                        <span class="vehicle-meta">Mercedes, Grey color, by <abbr class="user-type"
                                                                                                  title="Listed by an individual user">Individual</abbr></span>
                                        <a href="results-list.html" title="View all Sedans" class="vehicle-body-type"><img src="img/body-types/sedan.png" width="30" alt=""></a>
                                        <span class="vehicle-cost">$48500</span>
                                    </div>
                                </div>
                                <div class="vehicle-block format-standard">
                                    <a href="vehicle-details.html" class="media-box"><img src="http://placehold.it/600x400&amp;text=IMAGE+PLACEHOLDER" alt=""></a>
                                    <div class="vehicle-block-content">
                                        <span class="label label-default vehicle-age">2013</span>
                                        <h5 class="vehicle-title"><a href="vehicle-details.html">Mercedes Benz E
                                            Class</a></h5>
                                        <span class="vehicle-meta">Mercedes, Silver Blue, by <abbr class="user-type"
                                                                                                   title="Listed by an individual">Individual</abbr></span>
                                        <a href="results-list.html" title="View all convertibles" class="vehicle-body-type"><img src="img/body-types/convertible.png" width="30" alt=""></a>
                                        <span class="vehicle-cost">$76000</span>
                                    </div>
                                </div>
                            </li>
                            <li class="item">
                                <div class="vehicle-block format-standard">
                                    <a href="vehicle-details.html" class="media-box"><img src="http://placehold.it/600x400;text=IMAGE+PLACEHOLDER" alt=""></a>
                                    <div class="vehicle-block-content">
                                        <span class="label label-default vehicle-age">2014</span>
                                        <span class="label label-success premium-listing">Premium Listing</span>
                                        <h5 class="vehicle-title"><a href="vehicle-details.html">Mercedes-benz SL
                                            300</a></h5>
                                        <span class="vehicle-meta">Mercedes, Grey color, by <abbr class="user-type"
                                                                                                  title="Listed by an individual user">Individual</abbr></span>
                                        <a href="results-list.html" title="View all Sedans" class="vehicle-body-type"><img src="img/body-types/sedan.png" width="30" alt=""></a>
                                        <span class="vehicle-cost">$48500</span>
                                    </div>
                                </div>
                                <div class="vehicle-block format-standard">
                                    <a href="vehicle-details.html" class="media-box"><img src="http://placehold.it/600x400&amp;text=IMAGE+PLACEHOLDER" alt=""></a>
                                    <div class="vehicle-block-content">
                                        <span class="label label-default vehicle-age">2014</span>
                                        <h5 class="vehicle-title"><a href="vehicle-details.html">Newly launched Nissan
                                            Sunny</a></h5>
                                        <span class="vehicle-meta">Nissan, Brown beige, by <abbr class="user-type"
                                                                                                 title="Listed by Autostars">Autostars</abbr></span>
                                        <a href="results-list.html" title="View all coupes" class="vehicle-body-type"><img src="img/body-types/coupe.png" width="30" alt=""></a>
                                        <span class="vehicle-cost">$31999</span>
                                    </div>
                                </div>
                            </li>
                            <li class="item">
                                <div class="vehicle-block format-standard">
                                    <a href="vehicle-details.html" class="media-box"><img src="http://placehold.it/600x400&amp;text=IMAGE+PLACEHOLDER" alt=""></a>
                                    <div class="vehicle-block-content">
                                        <span class="label label-default vehicle-age">2014</span>
                                        <span class="label label-success premium-listing">Premium Listing</span>
                                        <h5 class="vehicle-title"><a href="vehicle-details.html">Mercedes-benz SL
                                            300</a></h5>
                                        <span class="vehicle-meta">Mercedes, Grey color, by <abbr class="user-type"
                                                                                                  title="Listed by an individual user">Individual</abbr></span>
                                        <a href="results-list.html" title="View all Sedans" class="vehicle-body-type"><img src="img/body-types/sedan.png" width="30" alt=""></a>
                                        <span class="vehicle-cost">$48500</span>
                                    </div>
                                </div>
                                <div class="vehicle-block format-standard">
                                    <a href="vehicle-details.html" class="media-box"><img src="http://placehold.it/600x400;text=IMAGE+PLACEHOLDER" alt=""></a>
                                    <div class="vehicle-block-content">
                                        <span class="label label-default vehicle-age">2014</span>
                                        <span class="label label-success premium-listing">Premium Listing</span>
                                        <h5 class="vehicle-title"><a href="vehicle-details.html">Mercedes-benz SL
                                            300</a></h5>
                                        <span class="vehicle-meta">Mercedes, Grey color, by <abbr class="user-type"
                                                                                                  title="Listed by an individual user">Individual</abbr></span>
                                        <a href="results-list.html" title="View all Sedans" class="vehicle-body-type"><img src="img/body-types/sedan.png" width="30" alt=""></a>
                                        <span class="vehicle-cost">$48500</span>
                                    </div>
                                </div>
                            </li>
                            <li class="item">
                                <div class="vehicle-block format-standard">
                                    <a href="vehicle-details.html" class="media-box"><img src="http://placehold.it/600x400&amp;text=IMAGE+PLACEHOLDER" alt=""></a>
                                    <div class="vehicle-block-content">
                                        <span class="label label-primary vehicle-age">Brand New</span>
                                        <h5 class="vehicle-title"><a href="vehicle-details.html">Nissan Terrano first
                                            hand</a></h5>
                                        <span class="vehicle-meta">Nissan, Brown beige, by <abbr class="user-type"
                                                                                                 title="Listed by an dealer">Dealer</abbr></span>
                                        <a href="results-list.html" title="View all SUVs" class="vehicle-body-type"><img src="img/body-types/suv.png" width="30" alt=""></a>
                                        <span class="vehicle-cost">$28000</span>
                                    </div>
                                </div>
                                <div class="vehicle-block format-standard">
                                    <a href="vehicle-details.html" class="media-box"><img src="http://placehold.it/600x400;text=IMAGE+PLACEHOLDER" alt=""></a>
                                    <div class="vehicle-block-content">
                                        <span class="label label-default vehicle-age">2014</span>
                                        <span class="label label-success premium-listing">Premium Listing</span>
                                        <h5 class="vehicle-title"><a href="vehicle-details.html">Mercedes-benz SL
                                            300</a></h5>
                                        <span class="vehicle-meta">Mercedes, Grey color, by <abbr class="user-type"
                                                                                                  title="Listed by an individual user">Individual</abbr></span>
                                        <a href="results-list.html" title="View all Sedans" class="vehicle-body-type"><img src="img/body-types/sedan.png" width="30" alt=""></a>
                                        <span class="vehicle-cost">$48500</span>
                                    </div>
                                </div>
                            </li>
                            <li class="item">
                                <div class="vehicle-block format-standard">
                                    <a href="vehicle-details.html" class="media-box"><img src="http://placehold.it/600x400;text=IMAGE+PLACEHOLDER" alt=""></a>
                                    <div class="vehicle-block-content">
                                        <span class="label label-default vehicle-age">2014</span>
                                        <span class="label label-success premium-listing">Premium Listing</span>
                                        <h5 class="vehicle-title"><a href="vehicle-details.html">Mercedes-benz SL
                                            300</a></h5>
                                        <span class="vehicle-meta">Mercedes, Grey color, by <abbr class="user-type"
                                                                                                  title="Listed by an individual user">Individual</abbr></span>
                                        <a href="results-list.html" title="View all Sedans" class="vehicle-body-type"><img src="img/body-types/sedan.png" width="30" alt=""></a>
                                        <span class="vehicle-cost">$48500</span>
                                    </div>
                                </div>
                                <div class="vehicle-block format-standard">
                                    <a href="vehicle-details.html" class="media-box"><img src="http://placehold.it/600x400&amp;text=IMAGE+PLACEHOLDER" alt=""></a>
                                    <div class="vehicle-block-content">
                                        <span class="label label-default vehicle-age">2013</span>
                                        <h5 class="vehicle-title"><a href="vehicle-details.html">Mercedes Benz E
                                            Class</a></h5>
                                        <span class="vehicle-meta">Mercedes, Silver Blue, by <abbr class="user-type"
                                                                                                   title="Listed by an individual">Individual</abbr></span>
                                        <a href="results-list.html" title="View all convertibles" class="vehicle-body-type"><img src="img/body-types/convertible.png" width="30" alt=""></a>
                                        <span class="vehicle-cost">$76000</span>
                                    </div>
                                </div>
                            </li>
                            <li class="item">
                                <div class="vehicle-block format-standard">
                                    <a href="vehicle-details.html" class="media-box"><img src="http://placehold.it/600x400&amp;text=IMAGE+PLACEHOLDER" alt=""></a>
                                    <div class="vehicle-block-content">
                                        <span class="label label-default vehicle-age">2014</span>
                                        <h5 class="vehicle-title"><a href="vehicle-details.html">Newly launched Nissan
                                            Sunny</a></h5>
                                        <span class="vehicle-meta">Nissan, Brown beige, by <abbr class="user-type"
                                                                                                 title="Listed by Autostars">Autostars</abbr></span>
                                        <a href="results-list.html" title="View all coupes" class="vehicle-body-type"><img src="img/body-types/coupe.png" width="30" alt=""></a>
                                        <span class="vehicle-cost">$31999</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="listing-block recent-vehicles">
            <div class="listing-header">
                <h3>Recently Listed Vehicles</h3>
            </div>
            <div class="listing-container">
                <div class="container">
                    <div class="row">
                        <ul class="owl-carousel carousel-alt" data-columns="6" data-autoplay="" data-pagination="no" data-arrows="yes" data-single-item="no" data-items-desktop="6" data-items-desktop-small="4" data-items-mobile="3" data-items-tablet="4">
                            <li class="item">
                                <div style="text-align: center;">
                                    <a href="#">
                                        <div><img src="img/body-types/wagon.png" alt=""></div>
                                        <div><span>Wagon</span></div>
                                    </a>
                                </div>
                            </li>
                            <li class="item">
                                <div style="text-align: center;">
                                    <a href="#">
                                        <div><img src="img/body-types/minivan.png" alt=""></div>
                                        <div><span>Minivan</span></div>
                                    </a>
                                </div>
                            </li>
                            <li class="item">
                                <div style="text-align: center;">
                                    <a href="#">
                                        <div><img src="img/body-types/suv.png" alt=""></div>
                                        <div><span>Minivan</span></div>
                                    </a>
                                </div>
                            </li>
                            <li class="item">
                                <div style="text-align: center;">
                                    <a href="#">
                                        <div><img src="img/body-types/suv.png" alt=""></div>
                                        <div><span>Minivan</span></div>
                                    </a>
                                </div>
                            </li>
                            <li class="item">
                                <div style="text-align: center;">
                                    <a href="#">
                                        <div><img src="img/body-types/sedan.png" alt=""></div>
                                        <div><span>Minivan</span></div>
                                    </a>
                                </div>
                            </li>
                            <li class="item">
                                <div style="text-align: center;">
                                    <a href="#">
                                        <div><img src="img/body-types/convertible.png" alt=""></div>
                                        <div><span>Minivan</span></div>
                                    </a>
                                </div>
                            </li>
                            <li class="item">
                                <a href="results-list.html"><img src="img/body-types/wagon.png" alt="">
                                    <span>Wagon</span></a>
                            </li>
                            <li class="item">
                                <a href="results-list.html"><img src="img/body-types/minivan.png" alt="">
                                    <span>Minivan</span></a>
                            </li>
                            <li class="item">
                                <a href="results-list.html"><img src="img/body-types/coupe.png" alt="">
                                    <span>Coupe</span></a>
                            </li>
                            <li class="item">
                                <a href="results-list.html"><img src="img/body-types/convertible.png" alt="">
                                    <span>Convertible</span></a>
                            </li>
                            <li class="item">
                                <a href="results-list.html"><img src="img/body-types/crossover.png" alt="">
                                    <span>Crossover</span></a>
                            </li>
                            <li class="item">
                                <a href="results-list.html"><img src="img/body-types/suv.png" alt="">
                                    <span>SUV</span></a>
                            </li>
                            <li class="item">
                                <a href="results-list.html#"><img src="img/body-types/minicar.png" alt="">
                                    <span>Minicar</span></a>
                            </li>
                            <li class="item">
                                <a href="results-list.html"><img src="img/body-types/sedan.png" alt="">
                                    <span>Sedan</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <div class="spacer-40"></div>
        <div class="row">
            <div class="listing-header">
                <h3>Latest auto news</h3>
            </div>
            <div class="col-md-4">
                <h3>ADASDASDASD</h3>
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge">14</span> Cras justo odio
                    </li>
                    <li class="list-group-item">
                        <span class="badge">14</span> Cras justo odio
                    </li>
                    <li class="list-group-item">
                        <span class="badge">14</span> Cras justo odio
                    </li>
                    <li class="list-group-item">
                        <span class="badge">14</span> Cras justo odio
                    </li>
                    <li class="list-group-item">
                        <span class="badge">14</span> Cras justo odio
                    </li>
                    <li class="list-group-item" style="text-align: center;">
                        <a href="#"><span>Ещё</span></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3>ADASDASDASD</h3>
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge">14</span> Cras justo odio
                    </li>
                    <li class="list-group-item">
                        <span class="badge">14</span> Cras justo odio
                    </li>
                    <li class="list-group-item">
                        <span class="badge">14</span> Cras justo odio
                    </li>
                    <li class="list-group-item">
                        <span class="badge">14</span> Cras justo odio
                    </li>
                    <li class="list-group-item">
                        <span class="badge">14</span> Cras justo odio
                    </li>
                    <li class="list-group-item" style="text-align: center;">
                        <a href="#"><span>Ещё</span></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3>ADASDASDASD</h3>
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge">14</span> Cras justo odio
                    </li>
                    <li class="list-group-item">
                        <span class="badge">14</span> Cras justo odio
                    </li>
                    <li class="list-group-item">
                        <span class="badge">14</span> Cras justo odio
                    </li>
                    <li class="list-group-item">
                        <span class="badge">14</span> Cras justo odio
                    </li>
                    <li class="list-group-item">
                        <span class="badge">14</span> Cras justo odio
                    </li>
                    <li class="list-group-item" style="text-align: center;">
                        <a href="#"><span>Ещё</span></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="spacer-40"></div>
        <div class="make-slider">
            <div class="container">
                <!-- Search by make -->
                <div class="row">
                    <div class="col-md-3 col-sm-4">
                        <h3>Search by make </h3>
                        <a href="#" class="btn btn-default btn-lg">All make &amp; models</a>
                    </div>
                    <div class="col-md-9 col-sm-8">
                        <div class="row">
                            <ul class="owl-carousel" id="make-carousel" data-columns="5" data-autoplay="6000" data-pagination="yes" data-arrows="no" data-single-item="no" data-items-desktop="5" data-items-desktop-small="4" data-items-tablet="3" data-items-mobile="3">
                                <li class="item">
                                    <a href="results-grid.html"><img src="http://placehold.it/100x100;text=IMAGE+PLACEHOLDER" alt=""></a>
                                </li>
                                <li class="item">
                                    <a href="results-grid.html"><img src="http://placehold.it/100x100&amp;text=IMAGE+PLACEHOLDER" alt=""></a>
                                </li>
                                <li class="item">
                                    <a href="results-grid.html"><img src="http://placehold.it/100x100&amp;text=IMAGE+PLACEHOLDER" alt=""></a>
                                </li>
                                <li class="item">
                                    <a href="results-grid.html"><img src="http://placehold.it/100x100&amp;text=IMAGE+PLACEHOLDER" alt=""></a>
                                </li>
                                <li class="item">
                                    <a href="results-grid.html"><img src="http://placehold.it/100x100&amp;text=IMAGE+PLACEHOLDER" alt=""></a>
                                </li>
                                <li class="item">
                                    <a href="results-grid.html"><img src="http://placehold.it/100x100&amp;text=IMAGE+PLACEHOLDER" alt=""></a>
                                </li>
                                <li class="item">
                                    <a href="results-grid.html"><img src="http://placehold.it/100x100&amp;text=IMAGE+PLACEHOLDER" alt=""></a>
                                </li>
                                <li class="item">
                                    <a href="results-grid.html"><img src="http://placehold.it/100x100&amp;text=IMAGE+PLACEHOLDER" alt=""></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="spacer-40"></div>
        <!--<div class="row">
            &lt;!&ndash; Latest News &ndash;&gt;
            <div class="col-md-8 col-sm-6">
                <section class="listing-block latest-news">
                    <div class="listing-header">
                        <a href="blog.html" class="btn btn-sm btn-default pull-right">All news</a>
                        <h3>Latest auto news</h3>
                    </div>
                    <div class="listing-container">
                        <div class="carousel-wrapper">
                            <div class="row">
                                <ul class="owl-carousel" id="news-slider" data-columns="2" data-autoplay=""
                                    data-pagination="yes" data-arrows="yes" data-single-item="no" data-items-desktop="2"
                                    data-items-desktop-small="1" data-items-tablet="2" data-items-mobile="1">
                                    <li class="item">
                                        <div class="post-block format-standard">
                                            <a href="single-post.html" class="media-box post-image"><img
                                                    src="http://placehold.it/600x400&amp;text=IMAGE+PLACEHOLDER" alt=""></a>
                                            <div class="post-actions">
                                                <div class="post-date">December 05, 2014</div>
                                                <div class="comment-count"><a href="single-post.html"><i
                                                        class="icon-dialogue-text"></i> 12</a></div>
                                            </div>
                                            <h3 class="post-title"><a href="single-post.html">Suspendisse eget ligula in
                                                nulla iaculis interdum nec</a></h3>
                                            <div class="post-content">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
                                                    convallis egestas rhoncus...</p>
                                            </div>
                                            <div class="post-meta">
                                                Posted in: <a href="blog-masonry.html">Financial</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="item">
                                        <div class="post-block format-standard">
                                            <a href="single-post.html" class="media-box post-image"><img
                                                    src="http://placehold.it/600x400&amp;text=IMAGE+PLACEHOLDER" alt=""></a>
                                            <div class="post-actions">
                                                <div class="post-date">November 29, 2014</div>
                                                <div class="comment-count"><a href="#"><i
                                                        class="icon-dialogue-text"></i> 0</a></div>
                                            </div>
                                            <h3 class="post-title"><a href="single-post.html">Lorem ipsum dolor sit
                                                amet, consectetur adipiscing elit</a></h3>
                                            <div class="post-content">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
                                                    convallis egestas rhoncus...</p>
                                            </div>
                                            <div class="post-meta">
                                                Posted in: <a href="blog-masonry.html">New Launch</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="item">
                                        <div class="post-block format-standard">
                                            <a href="single-post.html" class="media-box post-image"><img
                                                    src="http://placehold.it/600x400&amp;text=IMAGE+PLACEHOLDER" alt=""></a>
                                            <div class="post-actions">
                                                <div class="post-date">November 27, 2014</div>
                                                <div class="comment-count"><a href="#"><i
                                                        class="icon-dialogue-text"></i> 0</a></div>
                                            </div>
                                            <h3 class="post-title"><a href="single-post.html">2015 Proin enim quam,
                                                vulputate</a></h3>
                                            <div class="post-content">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
                                                    convallis egestas rhoncus...</p>
                                            </div>
                                            <div class="post-meta">
                                                Posted in: <a href="blog-masonry.html">Trial run</a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="spacer-40"></div>
                &lt;!&ndash; Latest Testimonials &ndash;&gt;

            </div>
            &lt;!&ndash; Latest Reviews &ndash;&gt;
            <div class="col-md-4 col-sm-6 sidebar">
                <section class="listing-block latest-reviews">
                    <div class="listing-header">
                        <a href="blog-masonry.html" class="btn btn-sm btn-default pull-right">All reviews</a>
                        <h3>Recent reviews</h3>
                    </div>
                    <div class="listing-container">
                        <div class="post-block post-review-block">
                            <div class="review-status">
                                <strong>3.6</strong>
                                <span>Out of 5</span>
                            </div>
                            <h3 class="post-title"><a href="single-post-review.html">Lorem ipsum dolor sit amet,
                                consectetur adipiscing elit</a></h3>
                            <div class="post-content">
                                <div class="post-actions">
                                    <div class="post-date">November 29, 2014</div>
                                    <div class="comment-count"><i class="fa fa-thumbs-o-up"></i> 3 <i
                                            class="fa fa-thumbs-o-down"></i> 0
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="post-block post-review-block">
                            <div class="review-status">
                                <strong>4.1</strong>
                                <span>Out of 5</span>
                            </div>
                            <h3 class="post-title"><a href="single-post-review.html">Curabitur nec nulla lectus, non
                                hendrerit lorem porttitor</a></h3>
                            <div class="post-content">
                                <div class="post-actions">
                                    <div class="post-date">November 14, 2014</div>
                                    <div class="comment-count"><i class="fa fa-thumbs-o-up"></i> 7 <i
                                            class="fa fa-thumbs-o-down"></i> 1
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="post-block post-review-block">
                            <div class="review-status">
                                <strong>5.0</strong>
                                <span>Out of 5</span>
                            </div>
                            <h3 class="post-title"><a href="single-post-review.html">2014 Proin enim quam, vulputate at
                                lobortis quis</a></h3>
                            <div class="post-content">
                                <div class="post-actions">
                                    <div class="post-date">October 31, 2014</div>
                                    <div class="comment-count"><i class="fa fa-thumbs-o-up"></i> 11 <i
                                            class="fa fa-thumbs-o-down"></i> 0
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="spacer-40"></div>

            </div>
        </div>-->
    </div>
</div>
