<!DOCTYPE HTML>
<html class="no-js">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>AutoStars - Responsive Car Dealership Template</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no">


    @{css('bootstrap.css',
    'bootstrap-theme.css',
    'style.css',
    'vendor/prettyphoto/css/prettyPhoto.css',
    'vendor/owl-carousel/css/owl.carousel.css',
    'vendor/owl-carousel/css/owl.theme.css',
    '/colors/color5.css'
    )}

    <!--[if lte IE 9]>
    <link rel="stylesheet" type="text/css" href="css/ie.css" media="screen"/><![endif]-->
    <link href="css/custom.css" rel="stylesheet" type="text/css"><!-- CUSTOM STYLESHEET FOR STYLING -->
    <!-- Color Style -->
    <!--<link href="colors/color5.css" rel="stylesheet" type="text/css">-->
    <!-- SCRIPTS
      ================================================== -->
    <!--<script src="js/modernizr.js"></script>-->
</head>


<body class="">
<!--[if lt IE 7]>
<p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser
    today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better
    experience this site.</p>
<![endif]-->
<div class="body">

    @{view('partials/header')}

    <div class="main" role="main">
        @{body}
    </div>

    @{view('partials/footer')}

    <!-- End site footer -->
    <a id="back-to-top"><i class="fa fa-angle-double-up"></i></a>

</div>


<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4>Login to your account</h4>
            </div>
            <div class="modal-body">
                <form action="#" method="post" id="loginForm">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        <input type="email" name="email" class="form-control" placeholder="Email">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-key"></i></span>
                        <input type="password" name="password" class="form-control" placeholder="Password">
                    </div>
                    <div id="error"></div>
                    <input type="button" id="modalLoginButton" class="btn btn-primary" value="Авторизоваться">
                </form>
            </div>
            <!--<div class="modal-footer">
                <button type="button" class="btn btn-block btn-facebook btn-social"><i class="fa fa-facebook"></i> Login
                    with Facebook
                </button>
                <button type="button" class="btn btn-block btn-twitter btn-social"><i class="fa fa-twitter"></i> Login
                    with Twitter
                </button>
            </div>-->
        </div>
    </div>
</div>
@{js('modernizr.js','jquery-2.0.0.min.js',
'vendor/prettyphoto/js/prettyphoto.js',
'ui-plugins.js',
'helper-plugins.js',
'vendor/prettyphoto/js/prettyphoto.js',
'vendor/owl-carousel/js/owl.carousel.min.js',
<!--'vendor/password-checker.js',-->
'bootstrap.js',
'init.js',
'vendor/flexslider/js/jquery.flexslider.js',
'vendor/flexslider/js/jquery.flexslider.js',
'scripts.js'
)}


<!--<script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>-->

</body>
</html>