<div class="main" role="main">
    <div id="content" class="content full">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h2>Get started with AutoStars</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel.</p>
                    <div class="spacer-20"></div>
                    <div class="icon-box ibox-rounded ibox-light ibox-effect">
                        <div class="ibox-icon">
                            <i class="fa fa-shopping-cart"></i>
                        </div>
                        <h3>Sell your car to make money</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus.</p>
                    </div>
                    <div class="spacer-20"></div>
                    <div class="icon-box ibox-rounded ibox-light ibox-effect">
                        <div class="ibox-icon">
                            <i class="fa fa-list-alt"></i>
                        </div>
                        <h3>Flexible listing options</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus.</p>
                    </div>
                    <div class="spacer-20"></div>
                    <div class="icon-box ibox-rounded ibox-light ibox-effect">
                        <div class="ibox-icon">
                            <i class="fa fa-cogs"></i>
                        </div>
                        <h3>Easy to use tools</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus.</p>
                    </div>
                    <div class="spacer-20"></div>

                    <hr class="fw">

                </div>
                <div class="col-md-4">
                    <section class="signup-form sm-margint">
                        <form action="/signup" method="POST">
                            <!-- Regular Signup -->
                            <div class="regular-signup">
                                <h3>Create an account</h3>
                                <input type="email" name="email" class="form-control" placeholder="Enter your email">

                                <input type="password" name="password" class="form-control password-input margin-5" placeholder="Type your password"/>

                                <!--<a href="javascript:void(0);" class="password-generate pass-actions"><i class="fa fa-refresh"></i></a>-->
                                <!--<div class="progress"><div class="progress-bar password-output" style="width: 0%"></div></div>-->
                                <div class="clearfix spacer-20"></div>
                                <!--<label class="checkbox-inline"><input type="checkbox">By signing up, I agree to the <a href="#">terms &amp; conditions</a> and <a href="#">privacy policy</a></label>
                                <div class="spacer-20"></div>-->
                                <input type="submit" class="btn btn-primary btn-lg btn-block" value="Create account">
                            </div>
                            <!-- Social Signup -->
                            <div class="social-signup">
                                <span class="or-break">или</span>
                                <button type="button" class="btn btn-block btn-facebook btn-social"><i class="fa fa-facebook"></i> Signup with Facebook</button>
                                <button type="button" class="btn btn-block btn-twitter btn-social"><i class="fa fa-twitter"></i> Signup with Twitter</button>
                            </div>
                        </form>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>