.search-advanced-trigger {
    font-size: 18px;
    background-color: #4a89dc;
    color: white;
    padding: 10px;
}

.search-advanced-trigger:hover {
    color: white;
    background-color: #4f94ed;
}

body.boxed {
    /*background-image: url(../img/patterns/pt5.png);*/
   /* background-image: url(../img/patterns/background2.jpg);
    background-repeat: repeat;*/
    background-color: rgba(30, 2, 255, 0.17);
}